{% extends "layout.html" %}

{% block title %}
    Settings - Change my Password
{% endblock %}


{% block main %}

    <form action="/change_password" method="post">

        <label>Change Password </label>
        <input required autofocus type="password" id="changed_password" name="changed_password" placeholder="Password"><br>
        <label>Password Confirmation</label>
        <input required type="password" id="changed_password_confirmation" name="changed_password_confirmation" placeholder="Password confirmation"><br>
        <input type="submit" id="password" name="Password">
    </form>
{% endblock %}