{% extends "layout.html" %}

{% block title %}
    To-Do List
{% endblock %} 

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Difficulty</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result["start_date"] }} to {{ result["end_date"] }}</td>
                <td>{{ result["task_name"] }}</td>
                <td>{{ result["description"] }}</td>
                <td>{{ result["difficulty"] }}</td>
                <td>
                    <form action="/delete" method="post">
                        <input name="id" type="hidden" value="{{ result.id }}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %} 
