{% extends "layout.html" %}

{% block title %}
    To-Do List
{% endblock %} 

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Difficulty</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for row in range(length) %}
            <tr>
                <td>{{ start[row] }} to {{ end[row]}}</td>
                <td>{{ name[row] }}</td>
                <td>{{ description[row] }}</td>
                <td>{{ difficulty[row] }}</td>
                <td><button id="completed_button" type="button">Completed</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %} 
