{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}


{% block main %}
<style>
    h1 {text-align: center;}
</style>
    <h1>Settings</h1>
    <form action="/settings" method="post">
        <input id="email" name="email" type="submit" value="Change my Email">
        <input id="username" name="username" type="submit" value="Change my Username">
        <input id="password" name="password" type="submit" value="Change my Password">
        <input id="delete" name="delete" type="submit" value="Delete my Account">
    </form>

{% endblock %}